{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" href='{% static 'css/base.css' %}'>
  <link rel="stylesheet" href='{% static 'css/login.css' %}'>
  <title>Job Portal</title>
  <style>
    .u{
      color: yellow;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="{% url 'home' %}">Job Portal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav" style="margin-left: 850px;">
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'list' %}">All Jobs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'contact' %}">Contact</a>
    </li>

    <li class="nav-item">
        {% if user.is_authenticated %}
          <a class="nav-item nav-link u" href="{% url 'profile' %}">Profile</a></li>
          <a class="nav-item nav-link u" href="{% url 'logout' %}">Logout</a>
        {% else %}
          <li ><a class="nav-item nav-link u" href="{% url 'login' %}">Login</a></li>
          <a class="nav-item nav-link u" href="{% url 'register' %}">Register</a>
      {% endif %}
      </li>
    <!-- </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login' %}" style="color: yellow;">Admin</a>
    </li> -->
    
      
    
  </ul>
  </div>
  </nav>
    
    {% block content %}
    {% endblock %}
<div class="footer">
  <p class='p'>&copy; Copy rights reserved  MK_Kumar</p>
</div
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  </body>
</html>