{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class='container home_container'>
	<div class='row'>
		<div class='col-md-6'><img src="{% static 'img/1.png' %}"></div>
		<div class="col-md-6 head"><h2>Welcome to online portal</h2><p>GradImages, the world's leader in graduation photography.Of the most momentous days in our lives. Find your photos now and make your graduation memories last a lifetime.Images may not be reproduced without written permission.</p>
			<button class="button button2"><b>Read more</b></button></div>


{% endblock %}